<h1>Fuel Log Listing</h1>

<p>
    <%= link_to "Create new fuel", new_fuel_path %>
</p>

<table>
    <tr>
        <th>Total Cost</th>
        <th>Price per litre</th>
        <th>Date</th>
        <th>Number of litres</th>
    </tr>


    <% @fuels.each do |fuel| %>
    <tr>
        <td><%= fuel.total_cost %></td>
        <td><%= fuel.price_litre %></td>
        <td><%= fuel.date %></td>
        <td><%= fuel.num_litres %></td>
        <td><%= link_to 'Edit', edit_fuel_path(fuel) %></td>
        <td><%= link_to 'Show', fuel_path(fuel) %></td>
        <td><%= link_to 'Destroy', fuel_path(fuel), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>

</table> 

